<app-username [username]="'Chris'" (userClicked)="onUserwasClicked($event)">
</app-username>
<app-username [username]="'Anna'" (userClicked)="onUserwasClicked($event)">
</app-username>
<h1 [ngClass]="{updated: name != 'Shahram'}">
  Welcome {{ name }}!
</h1>
<p *ngIf="name != 'Shahram'">Name updated!</p>
<button (click)="onChangeName()">Change Name</button>
<button (click)="onAddElement()">New Element</button>
<ul>
  <li *ngFor="let el of elements"
      [id]="'element' + el"
      [ngStyle]="{backgroundColor: getColor(el)}"
      >Element {{ el }}</li>
</ul>
<input type="text" [(ngModel)]="message">
<p>{{ message }}</p>
